# macOS
.DS_Store
**/.DS_Store

# build/artifacts
.next/
node_modules/
**/*.tsbuildinfo

# docs/assets
docs/
public/
scripts/

# non-js sources that can be accidentally linted
**/*.md
**/*.txt
**/*.svg
**/*.ico
**/*.css
**/*.sh
**/*.yml
**/*.yaml
**/*.json

# ad-hoc backups
**/*.bak.*
